:root {
    --color-strong-cyan: hsl(171, 66%, 44%);
    --colorlight-blue: hsl(233, 100%, 69%);
    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);
    --font-size: 18px;
}